composer.phar

# weird nesting
/vendor/*
!/vendor/twbs
/vendor/twbs/*
!/vendor/twbs/bootstrap
/vendor/twbs/bootstrap/*
!/vendor/twbs/bootstrap/dist
/vendor/twbs/bootstrap/dist/*
!/vendor/twbs/bootstrap/dist/css
!/vendor/twbs/bootstrap/dist/js
/vendor/twbs/bootstrap/dist/css/*
/vendor/twbs/bootstrap/dist/js/*
!/vendor/twbs/bootstrap/dist/css/bootstrap.min.css
!/vendor/twbs/bootstrap/dist/js/bootstrap.min.js