.main {
    margin-inline: auto;
}

.cus-card {
    width: 18rem;
    margin: auto;
    border-width: 3px ;
    border-style: solid;
}

.cus-card-img {
    border-radius: 50%;
    border-width: 3px ;
    border-style: solid;
}

.cus-card-text {
    margin: 5px;
}